<template>
    <div id="app">
        <v-app>
            <page-header />
            <v-content>
                <v-container>
                    <router-view></router-view>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>
import PageHeader from '@/components/Header.vue'
export default {
    name: 'App',
    components: {
        PageHeader,
    },
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
.danger-alert {
    color: red;
}

a,
a:active,
a:focus {
    outline: none;
    color: inherit !important;
    text-decoration: none;
}
</style>
