<template>
    <v-layout row>
        <v-flex xs10 offset-1 md4 offset-md-0>
            <panel class="mb-2 mb-md-0" title="Create a Song">
                <form name="create-song-form" autocomplete="off">
                    <v-text-field
                        label="Title"
                        :rules="[required]"
                        v-model="song.title"
                    ></v-text-field>
                    <v-text-field
                        label="Artist"
                        required
                        :rules="[required]"
                        v-model="song.artist"
                    ></v-text-field>
                    <v-text-field
                        label="Genre"
                        required
                        :rules="[required]"
                        v-model="song.genre"
                    ></v-text-field>
                    <v-text-field
                        label="Album"
                        required
                        :rules="[required]"
                        v-model="song.album"
                    ></v-text-field>
                    <v-text-field
                        label="Album Image URL"
                        required
                        :rules="[required]"
                        v-model="song.albumImageUrl"
                    ></v-text-field>
                    <v-text-field
                        label="Youtube ID"
                        required
                        :rules="[required]"
                        v-model="song.youtubeId"
                    ></v-text-field>
                </form>
            </panel>
        </v-flex>
        <v-flex xs10 offset-1 md8 offset-md-0>
            <panel class="ml-md-2" title="Song Structure">
                <v-textarea
                    label="Lyrics"
                    required
                    :rules="[required]"
                    v-model="song.lyrics"
                ></v-textarea>
                <v-textarea
                    label="Tab"
                    required
                    :rules="[required]"
                    v-model="song.tab"
                ></v-textarea>
            </panel>
            <div class="danger-alert" v-html="error" />
            <v-btn class="mb-4 mt-3" dark @click="create">
                Create
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
import Panel from '@/components/Panel.vue'
import SongsService from '@/services/SongsService.js'

export default {
    data() {
        return {
            song: {
                title: null,
                artist: null,
                genre: null,
                album: null,
                albumImageUrl: null,
                youtubeId: null,
                lyrics: null,
                tab: null,
            },
            error: null,
            required: value => !!value || 'Required.',
        }
    },
    methods: {
        async create() {
            this.error = null
            const areAllFieldsFilledIn = Object.keys(this.song).every(
                key => !!this.song[key]
            )
            if (!areAllFieldsFilledIn) {
                this.error = 'Please fill in all the required fields.'
                return
            }
            try {
                await SongsService.post(this.song)
                this.$router.push({
                    name: 'songs',
                })
            } catch (err) {
                console.log(err)
            }
        },
    },
    components: {
        Panel,
    },
}
</script>

<style scoped></style>
