<template>
    <v-layout>
        <v-flex xs10 offset-xs1>
            <panel title="Login">
                <form name="tab-tracker-form" autocomplete="off">
                    <v-text-field label="Email" v-model="email"></v-text-field>
                    <br />
                    <v-text-field
                        label="Password"
                        type="password"
                        v-model="password"
                        autocomplete="new-password"
                    ></v-text-field>
                </form>
                <div class="danger-alert" v-html="error" />
                <v-btn class="mb-4 mt-3" dark @click="login">
                    Login
                </v-btn>
            </panel>
        </v-flex>
    </v-layout>
</template>

<script charset="utf-8">
import AuthenticationService from '@/services/AuthenticationService'
import Panel from '@/components/Panel.vue'

export default {
    data() {
        return {
            email: '',
            password: '',
            error: null,
        }
    },
    methods: {
        async login() {
            try {
                const response = await AuthenticationService.login({
                    email: this.email,
                    password: this.password,
                })
                this.$store.dispatch('setToken', response.data.token)
                this.$store.dispatch('setUser', response.data.user)
            } catch (error) {
                this.error = error.response.data.error
            }
        },
    },
    components: {
        Panel,
    },
}
</script>

<style scoped>
.error {
    color: red;
}
.panel {
    margin: auto;
    max-width: 300px;
}
</style>
