<template>
    <v-layout column>
        <v-flex xs10 offset-xs1>
            <panel title="Songs">
                <v-btn
                    slot="action"
                    :to="{
                        name: 'songs-create',
                    }"
                    light
                    medium
                    absolute
                    right
                    middle
                    fab
                >
                    <v-icon>add</v-icon>
                </v-btn>

                <div v-for="song in songs" class="song" :key="song.id">
                    <v-layout>
                        <v-flex xs6>
                            <div class="song-title">
                                {{ song.title }}
                            </div>
                            <div class="song-artist">
                                {{ song.artist }}
                            </div>
                            <div class="song-genre">
                                {{ song.genre }}
                            </div>
                            <v-btn
                                :to="{
                                    name: 'song',
                                    params: {
                                        songId: song.id,
                                    },
                                }"
                            >
                                View
                            </v-btn>
                        </v-flex>

                        <v-flex xs6>
                            <img
                                class="album-image"
                                :src="song.albumImageUrl"
                            />
                        </v-flex>
                    </v-layout>
                </div>
            </panel>
        </v-flex>
    </v-layout>
</template>

<script>
import SongsService from '@/services/SongsService.js'
import Panel from '@/components/Panel.vue'

export default {
    components: {
        Panel,
    },
    data() {
        return {
            songs: null,
        }
    },
    methods: {
        navigateTo(route) {
            this.$router.push(route)
        },
    },
    async mounted() {
        this.songs = (await SongsService.index()).data
    },
}
</script>

<style scoped>
.panel {
    margin: auto;
    max-width: 900px;
}
.song {
    padding: 20px;
    height: 330px;
    overflow: hidden;
}
.song-title {
    font-size: 30px;
}
.song-artist {
    font-size: 24px;
}
.song-genre {
    font-size: 18px;
}
.album-image {
    width: 70%;
    margin: 0 auto;
}
</style>
