<template>
    <div class="header">
        <v-toolbar fixed>
            <v-toolbar-items>
                <v-btn text>
                    <router-link to="/">Fasting Timer</router-link></v-btn
                >
            </v-toolbar-items>
            <v-toolbar-items>
                <v-btn text>
                    <router-link to="/songs">Browse</router-link></v-btn
                >
            </v-toolbar-items>
            <div class="flex-grow-1"></div>
            <v-toolbar-items>
                <v-btn v-if="!$store.state.isUserLoggedIn" text
                    ><router-link to="/login">Login</router-link></v-btn
                >
            </v-toolbar-items>
            <v-toolbar-items>
                <v-btn v-if="!$store.state.isUserLoggedIn" text
                    ><router-link to="/register">Sign Up</router-link></v-btn
                >
            </v-toolbar-items>
            <v-toolbar-items>
                <v-btn v-if="$store.state.isUserLoggedIn" text @click="logout"
                    >Logout</v-btn
                >
            </v-toolbar-items>
        </v-toolbar>
    </div>
</template>

<script>
export default {
    name: 'PageHeader',
    methods: {
        navigateTo(route) {
            this.$router.push(route)
        },
        logout() {
            this.$store.dispatch('setToken', null)
            this.$store.dispatch('setUser', null)
            this.$router.push({
                name: 'root',
            })
        },
    },
}
</script>

<style scoped>
.header {
    margin-bottom: 20px;
}
</style>
