<template>
    <div class="panel white elevation-2">
        <v-toolbar flat dense>
            <v-spacer></v-spacer>
            <v-toolbar-title class="mt-4">{{ title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <slot name="action" />
        </v-toolbar>

        <div class="pl-4 pr-4 pb-2">
            <slot>
                No slot content defined.
            </slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Panel',
    props: ['title'],
}
</script>

<style scoped></style>
